/* Der Header bekommt hier einen Abstsand von 15 px zum Main */
header {
    margin-bottom: 15px;
}
/* Hiermit wird die Hintergrundfarbe geändert und auf grau gestellt*/
body {
    background-color: rgb(187, 187, 187);
}
/* Die Logos der Firmen werden hiermit zentriert. Sieht übersichtlicher und schöner aus */
.pic {
    display: block; text-align: center;
}
/* Wie die logos, wird auch der Footer zentriert, außerdem wird ein Abstand von 50px zum Main gehalten.*/
footer {
    text-align: center;
    margin-top: 50px;
}
.container_media {
    display: flex;
}
.container_img {
    position: relative;
}
/*Zitat auf dem Bild wird damit zentriert und etwas verändert*/
.centered {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255); 
    font-weight: 750;
}
.rose{
    /* ich weiß nicht warum, aber irgendwie haben das Bild und Video nicht die gleiche größe wenn ich beide auf 50% stelle. Deshalb 98% */
    width: 100%;
}
.vid { 
    width: 50%;
}
/*eibindung der Schriftart*/
@font-face {
    font-family: "OpenSansCondensed";
    src: url("../fonts/OpenSansCondensed-Bold.ttf");
}
/*Anpasung der Artikeln*/
.article {
    background-color: rgb(0, 212, 18);
    margin: 15px;
    border-radius: 10px;
    border: 2px black solid;    
    font-family:"OpenSansCondensed";

}

.article_content{
    padding: 10px;
    color: black;
}

/*Anpassung der Bilder der Karten*/
.card-img-top {

    height: 300px;
}

.News_area{
    display: flex;
    flex-direction: row-reverse;
}
.main_area{
    width: 80%;
}
/*Buttons*/
.btn-bundesgartenschau {
    background-color: rgb(0, 221, 29);
    margin: 10px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.btn-instagram {
    background-color: rgb(223, 20, 121);
    margin: 10px;
    color: white;
    text-align: center;
}
.btn-facebook {
    background-color: blue;
    margin: 10px;
    color: white;
    text-align: center;
}
.btn-google {
    background-color: rgb(131, 0, 0);
    margin: 10px;
    color: white;
    text-align: center;
}
.audio_keyboard {
    margin: 10px;
}
/*"Aufzählungsbild*/
ul {
    list-style-image:url("../image/icon.png")
}
/*Rating*/
.checked{
    color: orange;
  }

.rating {
    margin-left: 10px;
}
/*Schrift über Video*/
div.quellen {
    position:absolute; 
    top:150px; 
    left:290px; 
    width: 120px; 
    height:10px; 
    color: white;
}
/*Ich weiß selber nicht wieso der Header und das Logo, die Animation nicht übernehmen. 
Falls ihr das Problem finden solltet, dann würde ich mich über einen Lösungsvorschlag sehr freuen*/
.headleiste {

    background: red;
    animation: mymove 5s;
  }
  
  @keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}
