body {
    /* hier wird das hintergrundbild festgelegt */
    background-image: url(../image/inspiration/Wallpaper.jpg);
    /* Abstand zur rechten und linken seite bestimmen */
    margin-left: 20px;
    margin-right: 20px;
    /* Schriftfarbe ändern, um den Text besser lesen zu können*/
    color: rgb(255, 255, 255);
}
/* Die Box um Bilder und deren Überschriften erstellen 
und damit auch einen Rahmen erzeugen*/
.user_boxlist {
    background-color:rgb(0, 3, 189);
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}
/* Zeile 22 bis Zeile 48 -> Bestimmung der Hintergrundfarbe der Bilder*/ 
.user_image {
    display: flex;
    border-style: solid;
    border-color: black;
}
span.user_no_image {
    background-color: aliceblue;
}
/* Mit padding wird ein Abstand von 10 px zwischen den Rahmen gebildet*/
.user_box {
    padding: 10px;
}
.user_blue img {
    background-color: rgb(0, 132, 255);
}
.user_yellow img{
    background-color: yellow;
}
.user_green img {
    background-color: green;
}
.user_red img {
    background-color: red;
}
.user_pink img {
    background-color: pink;
}


/* Anoassung der Zitate*/
.user_quote_content {
    font-style: italic;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.user_quote_date {
    font-style:unset;
    color: blueviolet;
    font-size: 15px;
}

.user_quote_comments {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 16px;
}

.user_quote_tag {
    font-weight:lighter;
    font-stretch:extra-expanded;
    color: rgb(81, 202, 211);
    font-style: inherit;
    font-size: 17px;
}
.user_quote_author {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-style:initial
}
