
@media print {
    ul{
        list-style-image: none !important;
    }
    main {
    color: black !important;
    background-color: white !important;
    }
    header {display: none;}
    .container_media {display: none;}
    .vid{display:none;}
    .rose {display: none;}
    .centered {display: none;}
    .sidebar {display: none;}
    .rating{display:none;}
    .card-group{display:none;}
    .quellen {display:none;}
    footer{display:none;}
}